body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.required {
  border-color: red;
}

#addFormCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

#addForm,
#EditForm {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0px;
}

#addForm input,
#addForm select,
#EditForm input,
#EditForm select {
  margin-bottom: 15px;
  padding: 6px 0px;
}

#EditFormCont {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
}

.table {
  width: 80% !important;
  margin: auto;
}

.table td,
.table th {
  border-top: 0px !important;
}

#actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#actions input {
  margin-right: 5px;
}

.alert {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.navWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 20px 0px;
}

#loginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

#loginForm #addForm {
  margin: auto;
  margin-top: 10px;
}

.navbar-nav > .active > a > h3 {
  color: #1abc9c;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  margin-bottom: 50px;
}

h3 {
  -webkit-transition: 1s;
  transition: 1s;
}

h3:hover {
  color: #1abc9c;
}

.contentdiv {
  position: relative;
  min-height: 65vh;
}

.alert {
  margin-top: 0px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo h2 {
  margin-top: 10px;
  font-size: 2rem;
  color: #ffc107;
}

.logo img {
  margin-bottom: 15px;
}
/*# sourceMappingURL=styles.css.map */